/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
<<<<<<< HEAD:_sass/minimal-mistakes/_tables.scss
  background-color: #ffffff;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
=======
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
>>>>>>> fdc4aec648503437067724682730a3b79952fef5:_sass/minimal-mistakes/_tables.scss
}

th {
  padding: 1em;
  font-weight: normal;
  text-align: left;
}

td {
<<<<<<< HEAD:_sass/minimal-mistakes/_tables.scss
  padding: 1em;
=======
  padding: 0.5em;
>>>>>>> fdc4aec648503437067724682730a3b79952fef5:_sass/minimal-mistakes/_tables.scss
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
